/* MEYER RESET (to fix issues with space at top of page, etc.)
http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END OF RESET */

/* LAYOUT */

#top {
	position: relative;
	background-color: black;
	padding: 8px;
	font-size: 13px;
}

#main {
	position: relative;
	top: 150px;
	margin: auto;
	text-align: center;
}

#foot {
	width: 100%;
	position: absolute;
	bottom: 0px;
	right: 5px;
	padding: 10px;
	text-align: right;
	font-size: 13px;
	border-top: 1px solid #D0D0D0;
}

/* STYLING */

body {
	font-family: sans-serif;
}

#top a {
	text-decoration: none;
	font-weight: bold;
	color: gray;
}

#top a:hover {
	text-decoration: none;
	color: white;
}

#top a:active {
	text-decoration: none;
	color: white;
}

#main a {
	text-decoration: none;
	font-weight: bold;
	color: #303030;
}

#foot a {
	color: #707070;
	text-decoration: none;
}

#foot a:hover {
	text-decoration: underline;
}

/* List formatting for top and foot */

ul {
	list-style-type: none;
}

li {
	display: inline;
	margin: 0 8px;
}

#foot:li {
	margin: 0 2px;
}

/* search box and buttons */

input:focus {
	outline: 1px ##1464F4;
}

input:hover {
	box-shadow: 0 0 1px 1px #D0D0D0;
}

.button {
	font-family: Arial;
	font-weight: bold;
	background-color: #F0F0F0;
	border: 1px solid #D0D0D0;
	width: 10em;
	margin: auto;
	display: inline;
	padding: 5px;
	font-size: 11px;
}

